<div>
    <div style="text-align:center">
        <h2>Wave</h2>
    </div>
  <div *ngIf="this.wave; else noneOfData" class="charts-of-wave">
    <app-gauge-chart
      [speed]="this.wave.surface_sea_water_speed"
      [direction]="this.wave.sea_surface_wave_from_direction_at_variance_spectral_density_maximum"
      [type]="'water'"
      [title]="'Wave Direction and Speed'"></app-gauge-chart>
    <app-height-chart
      [height]="this.wave.sea_surface_wave_maximum_height"
      [title]="'Wave Maximum Height'"
    ></app-height-chart>
  </div>
  <ng-template #noneOfData>
      <div style="padding:50px; text-align: center"><h2>N/A</h2></div>
  </ng-template>
</div>

